// fonts

@import url('https://api.fontshare.com/css?f[]=satoshi@1&display=swap');

// global

::selection {
  @apply bg-primary-800 text-white;
}

body {
  @apply bg-black font-body text-white cursor-default;
}

a {
  @apply text-primary-600 transition-colors;
}
